django
gunicorn
django-debug-toolbar
django-htmx
dj-database-url
jinja2
psycopg2-binary
{% if cookiecutter.include_elasticsearch %}
django-elasticsearch-dsl
{% endif %}
python-dotenv
whitenoise
inflect
titlecase
django-storages
django-markdownx
django-click
boto3
ruff
